.movie-image {
  width: 200px; /* Adjusted size */
  height: 250px; /* Adjusted size */
  border-radius: 10px;
}

.backdrop-image {
  border-radius: 10px;
  width: 50%;
  height: 50%;
  object-fit: cover;
}

img {
  box-shadow: -3px 5px 32px -4px rgba(0, 0, 0, 1);
  -webkit-box-shadow: -3px 5px 32px -4px rgba(0, 0, 0, 1);
  -moz-box-shadow: -3px 5px 32px -4px rgba(0, 0, 0, 1);
}

.movie-container {
  display: flex;
  align-items: center;
}

.movie-details {
  display: flex;
  align-items: center;
}

.movie-info {
  margin-left: 25px; /* Adjust the spacing as needed */
}

.text-white {
  color: white;
}

iframe {
  width: 100%;
  height: 700px;
  border-radius: 10px;
}

.col-md-2:hover {
  border: 2px solid #ffd700; /* Gold color for highlighting */
  border-radius: 10px; /* Match the border-radius of the image */
  cursor: pointer;
}

.accordion-item {
  background-color: #090909;
  border: none;
  border-radius: 10px;
}

.accordion-button {
  background-color: #090909;
  color: white;
  border: none;
}

.accordion-button.collapsed {
  background-color: #090909;
  color: white;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  background-color: #090909;
  color: white;
}

.episode-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.episode-item button {
  background-color: #9acd32;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.episode-item button:hover {
  background-color: #85ba2a;
}

.episode-item button:focus {
  outline: none;
  box-shadow: none;
}
